@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?72d0bh");
  src: url("fonts/icomoon.eot?72d0bh#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?72d0bh") format("truetype"),
    url("fonts/icomoon.woff?72d0bh") format("woff"),
    url("fonts/icomoon.svg?72d0bh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tools:before {
  content: "\e900";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-check:before {
  content: "\f00c";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-comments:before {
  content: "\f086";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-code:before {
  content: "\f121";
}
.icon-shield:before {
  content: "\f132";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-server:before {
  content: "\f233";
}
.icon-map:before {
  content: "\f279";
}
.icon-percent:before {
  content: "\f295";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-shield1:before {
  content: "\e9b4";
}
